h1{
  color:black;
}
p{font-size: 20px}
p {
    font-family: "Arial", Times, serif;
}

body {
  background-image: url("https://pre00.deviantart.net/56ba/th/pre/f/2010/204/0/5/cookie_background_by_kutekai.png");
